body{font-family:Arial;margin:0;padding:0;}
header{background:#111;color:#fff;padding:20px;}
nav a{color:white;margin-right:10px;text-decoration:none;}
.hero{padding:80px;background:#444;color:white;text-align:center;}
.hidden{display:none;}
